.pf-c-chart svg g[clip-path] {
  mix-blend-mode: multiply; }

:root {
  --pf-chart-color-blue-100: #8bc1f7;
  --pf-chart-color-blue-200: #519de9;
  --pf-chart-color-blue-300: #06c;
  --pf-chart-color-blue-400: #004b95;
  --pf-chart-color-blue-500: #002f5d;
  --pf-chart-color-green-100: #bde2b9;
  --pf-chart-color-green-200: #7cc674;
  --pf-chart-color-green-300: #4cb140;
  --pf-chart-color-green-400: #38812f;
  --pf-chart-color-green-500: #23511e;
  --pf-chart-color-cyan-100: #a2d9d9;
  --pf-chart-color-cyan-200: #73c5c5;
  --pf-chart-color-cyan-300: #009596;
  --pf-chart-color-cyan-400: #005f60;
  --pf-chart-color-cyan-500: #003737;
  --pf-chart-color-purple-100: #b2b0ea;
  --pf-chart-color-purple-200: #8481dd;
  --pf-chart-color-purple-300: #5752d1;
  --pf-chart-color-purple-400: #3c3d99;
  --pf-chart-color-purple-500: #2a265f;
  --pf-chart-color-gold-100: #f9e0a2;
  --pf-chart-color-gold-200: #f6d173;
  --pf-chart-color-gold-300: #f4c145;
  --pf-chart-color-gold-400: #f0ab00;
  --pf-chart-color-gold-500: #c58c00;
  --pf-chart-color-orange-100: #f4b678;
  --pf-chart-color-orange-200: #ef9234;
  --pf-chart-color-orange-300: #ec7a08;
  --pf-chart-color-orange-400: #c46100;
  --pf-chart-color-orange-500: #8f4700;
  --pf-chart-color-red-100: #c9190b;
  --pf-chart-color-red-200: #a30000;
  --pf-chart-color-red-300: #7d1007;
  --pf-chart-color-red-400: #470000;
  --pf-chart-color-red-500: #2c0000;
  --pf-chart-color-black-100: #f0f0f0;
  --pf-chart-color-black-200: #d2d2d2;
  --pf-chart-color-black-300: #b8bbbe;
  --pf-chart-color-black-400: #8a8d90;
  --pf-chart-color-black-500: #6a6e73;
  --pf-chart-global--FontSize--xs: 12;
  --pf-chart-global--FontSize--sm: 14;
  --pf-chart-global--FontSize--lg: 18;
  --pf-chart-global--FontSize--2xl: 24;
  --pf-chart-global--FontFamily: RedHatText, Overpass, overpass, helvetica, arial, sans-serif;
  --pf-chart-global--letter-spacing: normal;
  --pf-chart-global--label--Padding: 10;
  --pf-chart-global--label--Margin: 8;
  --pf-chart-global--label--stroke: transparent;
  --pf-chart-global--label--text-anchor: middle;
  --pf-chart-global--label--stroke--Width: 0;
  --pf-chart-global--label--Fill: #151515;
  --pf-chart-global--layout--Padding: 50;
  --pf-chart-global--layout--Height: 300;
  --pf-chart-global--layout--Width: 450;
  --pf-chart-global--stroke--Width--xs: 1;
  --pf-chart-global--stroke--Width--sm: 2;
  --pf-chart-global--BorderWidth--xs: 1;
  --pf-chart-global--BorderWidth--sm: 2;
  --pf-chart-global--BorderWidth--lg: 8;
  --pf-chart-global--stroke-line-cap: round;
  --pf-chart-global--stroke-line-join: round;
  --pf-chart-global--danger--Color--100: #c9190b;
  --pf-chart-global--warning--Color--100: #ec7a08;
  --pf-chart-global--warning--Color--200: #f0ab00;
  --pf-chart-global--success--Color--100: #06c;
  --pf-chart-global--Fill--Color--900: #151515;
  --pf-chart-global--Fill--Color--700: #4f5255;
  --pf-chart-global--Fill--Color--500: #8a8d90;
  --pf-chart-global--Fill--Color--400: #b8bbbe;
  --pf-chart-global--Fill--Color--300: #d2d2d2;
  --pf-chart-global--Fill--Color--200: #f0f0f0;
  --pf-chart-global--Fill--Color--white: #fff;
  --pf-chart-area--Opacity: 0.3;
  --pf-chart-area--stroke--Width: 2;
  --pf-chart-area--data--Fill: #151515;
  --pf-chart-axis--axis--stroke--Width: 1;
  --pf-chart-axis--axis--stroke--Color: #d2d2d2;
  --pf-chart-axis--axis--Fill: transparent;
  --pf-chart-axis--axis-label--Padding: 40;
  --pf-chart-axis--axis-label--stroke--Color: transparent;
  --pf-chart-axis--grid--Fill: none;
  --pf-chart-axis--grid--stroke--Color: #d2d2d2;
  --pf-chart-axis--grid--PointerEvents: painted;
  --pf-chart-axis--tick--Fill: transparent;
  --pf-chart-axis--tick--Size: 5;
  --pf-chart-axis--tick--Width: 1;
  --pf-chart-axis--tick--stroke--Color: #d2d2d2;
  --pf-chart-axis--tick-label--Fill: #4f5255;
  --pf-chart-bar--Width: 10;
  --pf-chart-bar--data--stroke: none;
  --pf-chart-bar--data--Fill: #151515;
  --pf-chart-bar--data--Padding: 8;
  --pf-chart-bar--data-stroke--Width: 0;
  --pf-chart-boxplot--max--Padding: 8;
  --pf-chart-boxplot--max--stroke--Color: #151515;
  --pf-chart-boxplot--max--stroke--Width: 1;
  --pf-chart-boxplot--median--Padding: 8;
  --pf-chart-boxplot--median--stroke--Color: #151515;
  --pf-chart-boxplot--median--stroke--Width: 1;
  --pf-chart-boxplot--min--Padding: 8;
  --pf-chart-boxplot--min--stroke--Width: 1;
  --pf-chart-boxplot--min--stroke--Color: #151515;
  --pf-chart-boxplot--lower-quartile--Padding: 8;
  --pf-chart-boxplot--lower-quartile--Fill: #8a8d90;
  --pf-chart-boxplot--upper-quartile--Padding: 8;
  --pf-chart-boxplot--upper-quartile--Fill: #8a8d90;
  --pf-chart-boxplot--box--Width: 20;
  --pf-chart-bullet--axis--tick--count: 5;
  --pf-chart-bullet--comparative-measure--Fill--Color: #4f5255;
  --pf-chart-bullet--comparative-measure--stroke--Color: #4f5255;
  --pf-chart-bullet--comparative-measure--stroke--Width: 1;
  --pf-chart-bullet--comparative-measure--error--Fill--Color: #c9190b;
  --pf-chart-bullet--comparative-measure--error--stroke--Color: #c9190b;
  --pf-chart-bullet--comparative-measure--error--stroke--Width: 2;
  --pf-chart-bullet--comparative-measure--error--Width: 30;
  --pf-chart-bullet--comparative-measure--warning--Fill--Color: #ec7a08;
  --pf-chart-bullet--comparative-measure--warning--stroke--Color: #ec7a08;
  --pf-chart-bullet--comparative-measure--warning--stroke--Width: 2;
  --pf-chart-bullet--comparative-measure--warning--Width: 30;
  --pf-chart-bullet--comparative-measure--Width: 30;
  --pf-chart-bullet--group-title--divider--Fill--Color: #f0f0f0;
  --pf-chart-bullet--group-title--divider--stroke--Color: #f0f0f0;
  --pf-chart-bullet--group-title--divider--stroke--Width: 2;
  --pf-chart-bullet--Height: 140;
  --pf-chart-bullet--label--subtitle--Fill: #b8bbbe;
  --pf-chart-bullet--primary-measure--dot--size: 6;
  --pf-chart-bullet--primary-measure--segmented--Width: 9;
  --pf-chart-bullet--qualitative-range--Width: 30;
  --pf-chart-candelstick--data--stroke--Width: 1;
  --pf-chart-candelstick--data--stroke--Color: #151515;
  --pf-chart-candelstick--candle--positive--Color: #fff;
  --pf-chart-candelstick--candle--negative--Color: #151515;
  --pf-chart-donut--label--subtitle--Fill: #b8bbbe;
  --pf-chart-donut--label--subtitle--position: center;
  --pf-chart-donut--pie--Height: 230;
  --pf-chart-donut--pie--angle--Padding: 1;
  --pf-chart-donut--pie--Padding: 20;
  --pf-chart-donut--pie--Width: 230;
  --pf-chart-donut--threshold--first--Color: #f0f0f0;
  --pf-chart-donut--threshold--second--Color: #d2d2d2;
  --pf-chart-donut--threshold--third--Color: #b8bbbe;
  --pf-chart-donut--threshold--warning--Color: #f0ab00;
  --pf-chart-donut--threshold--danger--Color: #c9190b;
  --pf-chart-donut--threshold--dynamic--pie--Height: 202;
  --pf-chart-donut--threshold--dynamic--pie--Padding: 20;
  --pf-chart-donut--threshold--dynamic--pie--Width: 202;
  --pf-chart-donut--threshold--static--pie--Height: 230;
  --pf-chart-donut--threshold--static--pie--angle--Padding: 1;
  --pf-chart-donut--threshold--static--pie--Padding: 20;
  --pf-chart-donut--threshold--static--pie--Width: 230;
  --pf-chart-donut--utilization--dynamic--pie--Height: 230;
  --pf-chart-donut--utilization--dynamic--pie--angle--Padding: 1;
  --pf-chart-donut--utilization--dynamic--pie--Padding: 20;
  --pf-chart-donut--utilization--dynamic--pie--Width: 230;
  --pf-chart-donut--utilization--static--pie--Padding: 20;
  --pf-chart-errorbar--BorderWidth: 8;
  --pf-chart-errorbar--data--Fill: transparent;
  --pf-chart-errorbar--data--Opacity: 1;
  --pf-chart-errorbar--data-stroke--Width: 2;
  --pf-chart-errorbar--data-stroke--Color: #151515;
  --pf-chart-legend--gutter--Width: 20;
  --pf-chart-legend--orientation: horizontal;
  --pf-chart-legend--position: right;
  --pf-chart-legend--title--orientation: top;
  --pf-chart-legend--data--type: square;
  --pf-chart-legend--title--Padding: 2;
  --pf-chart-legend--Margin: 16;
  --pf-chart-line--data--Fill: transparent;
  --pf-chart-line--data--Opacity: 1;
  --pf-chart-line--data--stroke--Width: 2;
  --pf-chart-line--data--stroke--Color: #151515;
  --pf-chart-pie--Padding: 20;
  --pf-chart-pie--data--Padding: 8;
  --pf-chart-pie--data--stroke--Width: 1;
  --pf-chart-pie--data--stroke--Color: transparent;
  --pf-chart-pie--labels--Padding: 8;
  --pf-chart-pie--Height: 230;
  --pf-chart-pie--Width: 230;
  --pf-chart-scatter--data--stroke--Color: transparent;
  --pf-chart-scatter--data--stroke--Width: 0;
  --pf-chart-scatter--data--Opacity: 1;
  --pf-chart-scatter--data--Fill: #151515;
  --pf-chart-scatter--active--size: 5;
  --pf-chart-scatter--size: 3;
  --pf-chart-stack--data--stroke--Width: 1;
  --pf-chart-threshold--stroke-dash-array: 4,2;
  --pf-chart-threshold--stroke--Width: 1.5;
  --pf-chart-tooltip--corner-radius: 0;
  --pf-chart-tooltip--pointer-length: 10;
  --pf-chart-tooltip--Fill: #f0f0f0;
  --pf-chart-tooltip--flyoutStyle--corner-radius: 0;
  --pf-chart-tooltip--flyoutStyle--stroke--Width: 0;
  --pf-chart-tooltip--flyoutStyle--PointerEvents: none;
  --pf-chart-tooltip--flyoutStyle--stroke--Color: #151515;
  --pf-chart-tooltip--flyoutStyle--Fill: #151515;
  --pf-chart-tooltip--pointer--Width: 20;
  --pf-chart-tooltip--Padding: 16;
  --pf-chart-tooltip--PointerEvents: none;
  --pf-chart-voronoi--data--Fill: transparent;
  --pf-chart-voronoi--data--stroke--Color: transparent;
  --pf-chart-voronoi--data--stroke--Width: 0;
  --pf-chart-voronoi--labels--Padding: 8;
  --pf-chart-voronoi--labels--Fill: #f0f0f0;
  --pf-chart-voronoi--labels--PointerEvents: none;
  --pf-chart-voronoi--flyout--stroke--Width: 1;
  --pf-chart-voronoi--flyout--PointerEvents: none;
  --pf-chart-voronoi--flyout--stroke--Color: #151515;
  --pf-chart-voronoi--flyout--stroke--Fill: #151515;
  --pf-chart-voronoi--flyout--PointerEvents: none; }
