[class*="pf-c-"], [class*="pf-c-"]::before, [class*="pf-c-"]::after {
  padding: 0;
  margin: 0;
  background-color: transparent; }

html {
  font-size: unset !important; }

.pf-screen-reader {
  position: fixed;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0; }
